.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button-row {
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.button-row .button-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.right-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.add-token {
  margin: 5px;
}

.ant-select-selector {
  min-width: 200px;
}

.ant-table-content {
  min-width: 40vw;
  margin: 5px;
}